<div class="container">
  <div class="frame">
    <ng-container *ngFor="let item of data; let i = index">
      <div class="slide-item" [ngStyle]="{'left':  '-' +  i*100 + '%'}">
        <img [src]="item.src" class="img">
      </div>
    </ng-container>
  </div>
  
</div>
<div class="container">
  <div *ngFor="let item of data; let i = index" class="circle" [ngClass]="{'circle-active' : i == frame}">
    {{i}}/{{frame}}
  </div>
</div>
<div class="container">
  <p>{{frame}}</p>
  <button (click) = "previous()">Previous</button>
  <button (click) = "next()">Next</button>
</div>